<!DOCTYPE>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/cloud.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <p>This site was created by Chirag Rao. This site uses api of mapbox and darksky</p>
            <p>My name is {{name}}</p>
        </div>
    
    {{>footer}}
    </body>
</html>